<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Лапы и хвост", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">



                @if (User.IsInRole("admin"))
    {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Пациенты", "AllPets", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Клиенты", "AllUsers", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Записи на прием", "AllServices", "Home", new { area = "" }, null)</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">  @User.Identity.Name</li >
                <li>  <a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Сменить пользователя</a></li>
            </ul>

}
else
{

if (User.Identity.Name != "")
{
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Мои питомцы", "Pets", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Предстоящие записи", "Services", "Home", new { area = "" }, null)</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">  @User.Identity.Name</li>
                <li>  <a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Сменить пользователя</a></li>
            </ul>
}
else
{


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Home/Auth"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
            </ul>

}
}



                @*@if (User.IsInRole("admin"))
    {

    }
    else
    {
        if (User.Identity.Name != "")
        {
            <span class="navbar-text navbar-right">
                @User.Identity.Name
            </span>*@
}
}





            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
